.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: purple;
}

.link {
    color: black;
    text-align: center;
    width: 10;
    padding: 15px;
    text-decoration: none;
}
